streamlit
streamlit_authenticator
streamlit-aggrid
xlsxwriter
pyomo
openpyxl
streamlit_tags
matplotlib
seaborn
plotly
streamlit_extras
streamlit-folium
streamlit-option-menu
pathlib
sqlalchemy
datetime
pymysql
streamlit-modal
streamlit-folium